{% extends "app_index/base.html" %}

{% load static %}

{% block contenido_no_heredado %}

<title>RANKINGS</title>
    
<!-- Icons Grid-->
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 fondoPurpura alturadiv2">
                <div class="fotopacman num1ranking"></div>
                <h1 class="letrasamarillas">Pacman</h1>
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Posición</th>
                            <th>Nombre</th>
                            <th>Pais</th>
                            <th>Puntuación</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">1</td>
                        <td class="borde3px tamañotablas">Juanfran</td>
                        <td class="borde3px tamañotablas">ESP</td>
                        <td class="borde3px tamañotablas">1000</td>
                    </tr>
                </table>
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Posición</th>
                            <th>Nombre</th>
                            <th>Pais</th>
                            <th>Puntuación</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">Celda 4</td>
                        <td class="borde3px tamañotablas">Celda 5</td>
                        <td class="borde3px tamañotablas">Celda 6</td>
                        <td class="borde3px tamañotablas">Celda 6</td>
                    </tr>
                </table>
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Posición</th>
                            <th>Nombre</th>
                            <th>Pais</th>
                            <th>Puntuación</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">Celda 4</td>
                        <td class="borde3px tamañotablas">Celda 5</td>
                        <td class="borde3px tamañotablas">Celda 6</td>
                        <td class="borde3px tamañotablas">Celda 6</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 fondoPurpura alturadiv2">
                <div class="fototetris num1ranking"></div>
                <h1 class="letrasamarillas">Tetris</h1>
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Posición</th>
                            <th>Nombre</th>
                            <th>Pais</th>
                            <th>Puntuación</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">1</td>
                        <td class="borde3px tamañotablas">Juanfran</td>
                        <td class="borde3px tamañotablas">ES</td>
                        <td class="borde3px tamañotablas">1000</td>
                    </tr>
                </table>
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Posición</th>
                            <th>Nombre</th>
                            <th>Pais</th>
                            <th>Puntuación</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">Celda 4</td>
                        <td class="borde3px tamañotablas">Celda 5</td>
                        <td class="borde3px tamañotablas">Celda 6</td>
                        <td class="borde3px tamañotablas">Celda 6</td>
                    </tr>
                </table>
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Posición</th>
                            <th>Nombre</th>
                            <th>Pais</th>
                            <th>Puntuación</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">Celda 4</td>
                        <td class="borde3px tamañotablas">Celda 5</td>
                        <td class="borde3px tamañotablas">Celda 6</td>
                        <td class="borde3px tamañotablas">Celda 6</td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-md-5 fondoPurpura alturadiv2">
                <div class="fotopacman num1ranking"></div>
                <h1 class="letrasamarillas">Pacman</h1>
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Posición</th>
                            <th>Nombre</th>
                            <th>Pais</th>
                            <th>Puntuación</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">1</td>
                        <td class="borde3px tamañotablas">Juanfran</td>
                        <td class="borde3px tamañotablas">ESP</td>
                        <td class="borde3px tamañotablas">1000</td>
                    </tr>
                </table>
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Posición</th>
                            <th>Nombre</th>
                            <th>Pais</th>
                            <th>Puntuación</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">Celda 4</td>
                        <td class="borde3px tamañotablas">Celda 5</td>
                        <td class="borde3px tamañotablas">Celda 6</td>
                        <td class="borde3px tamañotablas">Celda 6</td>
                    </tr>
                </table>
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Posición</th>
                            <th>Nombre</th>
                            <th>Pais</th>
                            <th>Puntuación</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">Celda 4</td>
                        <td class="borde3px tamañotablas">Celda 5</td>
                        <td class="borde3px tamañotablas">Celda 6</td>
                        <td class="borde3px tamañotablas">Celda 6</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 fondoPurpura alturadiv2">
                <div class="fototetris num1ranking"></div>
                <h1 class="letrasamarillas">Tetris</h1>
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Posición</th>
                            <th>Nombre</th>
                            <th>Pais</th>
                            <th>Puntuación</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">1</td>
                        <td class="borde3px tamañotablas">Juanfran</td>
                        <td class="borde3px tamañotablas">ES</td>
                        <td class="borde3px tamañotablas">1000</td>
                    </tr>
                </table>
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Posición</th>
                            <th>Nombre</th>
                            <th>Pais</th>
                            <th>Puntuación</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">Celda 4</td>
                        <td class="borde3px tamañotablas">Celda 5</td>
                        <td class="borde3px tamañotablas">Celda 6</td>
                        <td class="borde3px tamañotablas">Celda 6</td>
                    </tr>
                </table>
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Posición</th>
                            <th>Nombre</th>
                            <th>Pais</th>
                            <th>Puntuación</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">Celda 4</td>
                        <td class="borde3px tamañotablas">Celda 5</td>
                        <td class="borde3px tamañotablas">Celda 6</td>
                        <td class="borde3px tamañotablas">Celda 6</td>
                    </tr>
                </table>
            </div>
        </div>









    </div>
</section>

{% endblock contenido_no_heredado %}

    