{% extends "app_index/base.html" %}

{% load static %}

{% block contenido_no_heredado %}

<title>Rankings</title>
<style>
    #scrollBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }

    /* Media queries para hacer el botón responsive */
    @media (max-width: 600px) {
      #scrollBtn {
        bottom: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
      }
    }
  </style>
  <!-- Botón para subir arriba -->
  <a href="#" onclick="scrollToTop()">
    <img src="{% static 'app_index/assets/flechaAmarilla.png'%}" id="scrollBtn">
  </a>

  <script>
    // Función para desplazarse hasta arriba
    function scrollToTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    }

    // Mostrar el botón cuando se desplaza cierta distancia hacia abajo
    window.onscroll = function() {
      showScrollBtn();
    };

    function showScrollBtn() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById('scrollBtn').style.display = 'block';
      } else {
        document.getElementById('scrollBtn').style.display = 'none';
      }
    }
  </script>



<!-- Icons Grid-->
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 fondoPurpura alturadiv2">
                <div class="fotosnake num1ranking"></div>
                <h1 class="letrasamarillas">Snake</h1>
                {% for objeto in snake %}
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Position</th>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">{{ forloop.counter }}</td>
                        <td class="borde3px tamañotablas">{{objeto.user_profile}}</td>
                        <td class="borde3px tamañotablas">ESP</td>
                        <td class="borde3px tamañotablas">{{objeto.score}}</td>
                    </tr>
                </table>
                {% endfor %} 
                <form method="post" action="{% url 'ranking' %}">
                    {% csrf_token %}

                    <input type="hidden" id="boton_id" value="SNAKE" name="boton_id">
                    <button type="submit" class="btn btn-primary botonVerMasRakings">Ver más</button>
                </form>
            
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 fondoPurpura alturadiv2">
                <div class="fotopacman num1ranking"></div>
                <h1 class="letrasamarillas">Pacman</h1>
                {% for objeto in pacman %}
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Position</th>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">{{ forloop.counter }}</td>
                        <td class="borde3px tamañotablas">{{objeto.user_profile}}</td>
                        <td class="borde3px tamañotablas">ESP</td>
                        <td class="borde3px tamañotablas">{{objeto.score}}</td>
                    </tr>
                </table>
                {% endfor %} 
                <form method="post" action="{% url 'ranking' %}">
                    {% csrf_token %}

                    <input type="hidden" id="boton_id" value="PACMAN" name="boton_id">
                    <button type="submit" class="btn btn-primary botonVerMasRakings">Ver más</button>
                </form>
            
            </div>
            <div class="col-md-5 fondoPurpura alturadiv2">
                <div class="fototetris num1ranking"></div>
                <h1 class="letrasamarillas">Tetris</h1>
                {% for objeto in tetris %}
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Position</th>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">{{ forloop.counter }}</td>
                        <td class="borde3px tamañotablas">{{objeto.user_profile}}</td>
                        <td class="borde3px tamañotablas">ESP</td>
                        <td class="borde3px tamañotablas">{{objeto.score}}</td>
                    </tr>
                </table>
                {% endfor %} 
                <form method="post" action="{% url 'ranking' %}">
                    {% csrf_token %}

                    <input type="hidden" id="boton_id" value="TETRIS" name="boton_id">
                    <button type="submit" class="btn btn-primary botonVerMasRakings">Ver más</button>
                </form>
            
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 fondoPurpura alturadiv2">
                <div class="fotodinosaur num1ranking"></div>
                <h1 class="letrasamarillas">Dinosaur</h1>
                {% for objeto in dinosaur %}
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Position</th>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">{{ forloop.counter }}</td>
                        <td class="borde3px tamañotablas">{{objeto.user_profile}}</td>
                        <td class="borde3px tamañotablas">ESP</td>
                        <td class="borde3px tamañotablas">{{objeto.score}}</td>
                    </tr>
                </table>
                {% endfor %} 
                <form method="post" action="{% url 'ranking' %}">
                    {% csrf_token %}

                    <input type="hidden" id="boton_id" value="DINOSAUR" name="boton_id">
                    <button type="submit" class="btn btn-primary botonVerMasRakings">Ver más</button>
                </form>
            
            </div>
            <div class="col-md-5 fondoPurpura alturadiv2">
                <div class="fotoasteroid num1ranking"></div>
                <h1 class="letrasamarillas">Asteroid</h1>
                {% for objeto in asteroid %}
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Position</th>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">{{ forloop.counter }}</td>
                        <td class="borde3px tamañotablas">{{objeto.user_profile}}</td>
                        <td class="borde3px tamañotablas">ESP</td>
                        <td class="borde3px tamañotablas">{{objeto.score}}</td>
                    </tr>
                </table>
                {% endfor %} 
                <form method="post" action="{% url 'ranking' %}">
                    {% csrf_token %}

                    <input type="hidden" id="boton_id" value="ASTEROID" name="boton_id">
                    <button type="submit" class="btn btn-primary botonVerMasRakings">Ver más</button>
                </form>
            
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 fondoPurpura alturadiv2">
                <div class="fotoslope num1ranking"></div>
                <h1 class="letrasamarillas">Slope</h1>
                {% for objeto in slope %}
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Position</th>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">{{ forloop.counter }}</td>
                        <td class="borde3px tamañotablas">{{objeto.user_profile}}</td>
                        <td class="borde3px tamañotablas">ESP</td>
                        <td class="borde3px tamañotablas">{{objeto.score}}</td>
                    </tr>
                </table>
                {% endfor %} 
                <form method="post" action="{% url 'ranking' %}">
                    {% csrf_token %}

                    <input type="hidden" id="boton_id" value="SLOPE" name="boton_id">
                    <button type="submit" class="btn btn-primary botonVerMasRakings">Ver más</button>
                </form>
            
            </div>
            <div class="col-md-5 fondoPurpura alturadiv2">
                <div class="fotopong num1ranking"></div>
                <h1 class="letrasamarillas">Pong</h1>
                {% for objeto in pong %}
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Position</th>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">{{ forloop.counter }}</td>
                        <td class="borde3px tamañotablas">{{objeto.user_profile}}</td>
                        <td class="borde3px tamañotablas">ESP</td>
                        <td class="borde3px tamañotablas">{{objeto.score}}</td>
                    </tr>
                </table>
                {% endfor %} 
                <form method="post" action="{% url 'ranking' %}">
                    {% csrf_token %}

                    <input type="hidden" id="boton_id" value="PONG" name="boton_id">
                    <button type="submit" class="btn btn-primary botonVerMasRakings">Ver más</button>
                </form>
                  

            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 fondoPurpura alturadiv2">
                <div class="fotobomberman num1ranking"></div>
                <h1 class="letrasamarillas">Bomberman</h1>
                {% for objeto in bomberman %}
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Position</th>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">{{ forloop.counter }}</td>
                        <td class="borde3px tamañotablas">{{objeto.user_profile}}</td>
                        <td class="borde3px tamañotablas">ESP</td>
                        <td class="borde3px tamañotablas">{{objeto.score}}</td>
                    </tr>
                </table>
                {% endfor %} 
                <form method="post" action="{% url 'ranking' %}">
                    {% csrf_token %}

                    <input type="hidden" id="boton_id" value="BOMBERMAN" name="boton_id">
                    <button type="submit" class="btn btn-primary botonVerMasRakings">Ver más</button>
                </form>
            
            </div>
            <div class="col-md-5 fondoPurpura alturadiv2">
                <div class="fotoflappybird num1ranking"></div>
                <h1 class="letrasamarillas">Flappy Bird</h1>
                {% for objeto in flappybird %}
                <table class="">
                    <thead>
                        <tr class="letrasamarillas">
                            <th>Position</th>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tr class="fondoBlanco borde3px">
                        <td class="borde3px tamañotablas">{{ forloop.counter }}</td>
                        <td class="borde3px tamañotablas">{{objeto.user_profile}}</td>
                        <td class="borde3px tamañotablas">ESP</td>
                        <td class="borde3px tamañotablas">{{objeto.score}}</td>
                    </tr>
                </table>
                {% endfor %} 
                <form method="post" action="{% url 'ranking' %}">
                    {% csrf_token %}

                    <input type="hidden" id="boton_id" value="FLAPPYBIRD" name="boton_id">
                    <button type="submit" class="btn btn-primary botonVerMasRakings">Ver más</button>
                </form>
            
            </div>

        </div>
        
        


    </div>
</section>

{% endblock contenido_no_heredado %}

    