{% extends "app_index/base.html" %}

{% load static %}

{% block contenido_no_heredado %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<script type="application/javascript" src="{% static 'app_index/js/scripts.js'%}"></script>
<link href="{% static 'app_index/css/styles.css' %}" rel="stylesheet" />


    <div class="bg-light">
        <div class="container ">
            <div class="row">
                <div class="col-6">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">
                                    <select id="selectjuegos" >
                                        <option value="1">SNAKE</option>
                                        <option value="2">PACMAN</option>
                                        <option value="3">TETRIS</option>
                                        <option value="4">DINOSAUR</option>
                                        <option value="5">ASTEROID</option>
                                        <option value="6">SLOPE</option>
                                        <option value="7">PONG</option>
                                        <option value="8">BOMBERMAN</option>
                                        <option value="9">FLAPPYBIRD</option>
                                    </select>
                                </th>
                                <th scope="col" class="letrasamarillas">#</th>
                                <th scope="col" class="letrasamarillas">User</th>
                                <th scope="col" class="letrasamarillas">Score</th>
                                <th scope="col" class="letrasamarillas">Data_Played</th>
                            </tr>
                        </thead>
                        <tbody id="tablaGenerada">
                        {% for objeto in partidas %}
                            <tr class="tablaInicial">
                                <th scope="row" class="tablaInicial"  style="border:3px solid black; background-color:white;"><img src="{% static 'app_index/assets/img/iconodelete.png'%}" id="botonBorrarTabla"></th>
                                <td scope="row" class="tablaInicial" id="{{ forloop.counter }}" style="border:3px solid black; background-color:white;">{{ forloop.counter }}</td>
                                <td class="tablaInicial clickedit" id="user{{ forloop.counter }}" style="border:3px solid black; background-color:white;">{{objeto.user_profile}}</td>
                                <td class="tablaInicial clickedit" id="score{{ forloop.counter }}" style="border:3px solid black; background-color:white;">{{objeto.score}}</td>
                                <td class="tablaInicial " style="border:3px solid black; background-color:white;">{{objeto.date_played}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-1"></div>
                <div class="col-5">
                    <div>{{ div|safe }}</div>
                </div>

                <!--
                <div class="col-6">
                    <img src="data:image/png;base64,{{ graphic }}" alt="Gráfica de queso">
                </div> -->

            </div>
        </div>
    </div>


{% endblock contenido_no_heredado %}   