{% extends "app_index/base.html" %}

{% load static %}

{% block contenido_no_heredado %}

        <title>ARCADIA</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
        <script type="application/javascript" src="{% static 'app_index/js/scripts.js'%}"></script>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <h1 style="font-family: arcadeFont; font-size: 180%;" class="mb-5"> Search your games! </h1>
                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <div style="font-family: arcadeFont;"class="row">
                                    <div class="col">
                                        {% csrf_token %}
                                        <input class="form-control form-control-lg" id="letra" type="text" placeholder="Pacman..." />
                                        <div id="mi-lista"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <h1 style="font-family: arcadeFont;font-size: 180%;" class="homeJuegosPopulares">POPULAR GAMES</h1>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 fondoPurpura">
                            <div class="features-icons-icon {{fototop1}}" id="IDfotoTop1"></div>
                            <h3 class="letrasamarillas" id="IDLetrasTop1">{{top1}}</h3>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 fondoPurpura">
                            <div class="features-icons-icon d-flex {{fototop2}}"></div>
                            <h3 class="letrasamarillas">{{top2}}</h3>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3 fondoPurpura">
                            <div class="features-icons-icon d-flex {{fototop3}}"></div>
                            <h3 class="letrasamarillas">{{top3}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!-- Icons Grid-->
            <div class="col-lg-6"></div>
            <div class="col-lg-1">

            </div>


{% endblock contenido_no_heredado %}   