{% load static %}

<!DOCTYPE html>
<html data-color-mode="dark" data-light-theme="light" data-dark-theme="dark" data-a11y-animated-images="system">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app_index/assets/favicon.ico' %}" />
    <!-- CSS -->
    <link href="{% static 'app_index/css/styles.css' %}" rel="stylesheet" />
    
    <link href="{% static 'app_index/css/style-login/login1.css' %}" rel="stylesheet" />
    <link href="{% static 'app_index/css/style-login/login2.css' %}" rel="stylesheet" />
    <link href="{% static 'app_index/css/style-login/login3.css' %}" rel="stylesheet" />
    <link href="{% static 'app_index/css/style-login/login4.css' %}" rel="stylesheet" />
    <link href="{% static 'app_index/css/style-login/login5.css' %}" rel="stylesheet" />
    <link href="{% static 'app_index/css/style-login/login6.css' %}" rel="stylesheet" />
    <link href="{% static 'app_index/css/style-login/login7.css' %}" rel="stylesheet" />
    <link href="{% static 'app_index/css/style-login/login8.css' %}" rel="stylesheet" />
    <link href="{% static 'app_index/css/style-login/login9.css' %}" rel="stylesheet" />
    <link href="{% static 'app_index/css/style-login/login10.css' %}" rel="stylesheet" />
    <link href="{% static 'app_index/css/style-login/login11.css' %}" rel="stylesheet" />
    <link href="{% static 'app_index/css/style-login/login12.css' %}" rel="stylesheet" />
  </head>

  <body class="logged-out env-production page-responsive session-authentication" style="word-wrap: break-word;">
      
    <div class="position-relative js-header-wrapper ">
      <a href="#start-of-content" class="px-2 py-4 color-bg-accent-emphasis color-fg-on-emphasis show-on-focus js-skip-to-content">Skip to content</a>
      <span data-view-component="true" class="progress-pjax-loader Progress position-fixed width-full">
        <span style="width: 0%;" data-view-component="true" class="Progress-item progress-pjax-loader-bar left-0 top-0 color-bg-accent-emphasis"></span>
      </span>      
            
      <div class="header header-logged-out width-full pt-5 pb-4" role="banner">
        <div class="container clearfix width-full text-center">
          <a  href="{% url 'inicio' %}"> <img src="{% static 'app_index/assets/favicon.ico' %}" height="100px"> </a>
        </div>
      </div>
    </div>

  <div class="application-main">
    <main>  
        <div class="auth-form px-3" id="login" >
          <div class="auth-form-header p-0">
            <h1 style="font-family: arcadeFont; font-size: medium;">Sign in to Arcadia</h1>
          </div>

          <div id="js-flash-container" data-turbo-replace></div>

        <!-- bloque FORMULARIO LOGIN -->
          <div style="border-radius: 0;" class="auth-form-body mt-3">
            <form method="post">
              {% csrf_token %}

              {% if mensaje %}
                <section style="font-size: 95%; margin-bottom:6%; background-color: #0D1117; color:#C9D1D9; text-align: center;">
                  <span style="font-weight: bold; font-size: 105%;"> {{mensaje}} </span>
                </section>
              {% endif %}

              <label for="login_field" style="font-family: arcadeFont;font-size: 80%;"> Username </label>
                {{form.username}}       
                      
              <!-- Password--> 
              <div class="position-relative">
                <label for="password" style="font-family: arcadeFont;font-size: 80% "> Password </label> 
                {{form.password}}                
                <!-- Submit-->
                <input type="submit" value="Sign in" style="font-family: arcadeFont; font-size: 85%; background-color: rgba(249, 138, 249, 0.8);" class="btn btn-primary btn-block js-sign-in-button" data-disable-with="Signing in…" data-signin-label="Sign in" data-sso-label="Sign in with your identity provider" development="false" />
                  
              </div>
            </form>
          </div>

          <p style=" border-radius: 0px; font-size: 65%;font-family: arcadeFont;" class="login-callout mt-3">
            New to Arcadia?
              <a style="font-family: arcadeFont;"href="{% url 'signup' %}"> Create account</a>
          </p>
        </div>
    </main>
  </div>
  </body>
</html>

