{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlappyBird</title>
    
    <link rel="stylesheet" href="{% static 'app_games/flappybird/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
</head>
<body>
    <script>
        var imageBasePath = "{% static 'app_games/flappybird/img/' %}";
        var imageBasePath2 = "{% static 'app_games/flappybird/sfx/' %}";
    </script>
    <canvas id="canvas" width="276" height="414"></canvas>
    
    <script type="application/javascript" src="{% static 'app_games/flappybird/game.js'%}"></script>
</body>
</html>