
{% extends "app_index/base.html" %}

{% load static %}

{% block contenido_no_heredado %}

    <title>Games</title>

    <!-- Icons Grid-->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <a id="link" href="{% url 'bubbleshooter' %}">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 fondoPurpura">
                        <div class="features-icons-icon fotobubbleshooter"></div>
                        <h3 class="letrasamarillas">Bubble Shooter</h3>
                    </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <a  href="{% url 'snake' %}">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 fondoPurpura">
                        <div class="features-icons-icon d-flex fotosnake"></div>
                        <h3 class="letrasamarillas">Snake</h3>
                    </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <a id="link" href="{% url 'tetris' %}">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3 fondoPurpura">
                            <div class="features-icons-icon d-flex fototetris"></div>
                            <h3 class="letrasamarillas">Tetris</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
   
    <!-- Icons Grid-->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <a id="link" href="{% url 'pong' %}">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 fondoPurpura">
                        <div class="features-icons-icon fotopong"></div>
                        <h3 class="letrasamarillas">Pong</h3>
                    </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <a  href="{% url 'snake' %}">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 fondoPurpura">
                        <div class="features-icons-icon d-flex fotosnake"></div>
                        <h3 class="letrasamarillas">Snake</h3>
                    </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <a id="link" href="{% url 'tetris' %}">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3 fondoPurpura">
                            <div class="features-icons-icon d-flex fototetris"></div>
                            <h3 class="letrasamarillas">Tetris</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
   
{% endblock contenido_no_heredado %}