{% extends "app_games/plantillaSnake.html" %}
{% load static %}
{% block content %}


<script src="{% static 'app_games/snake/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'app_games/snake/js.cookie.min.js' %}"></script>

<title>Snake</title>

<link rel="stylesheet" href="{% static 'app_games/snake/css.css' %}">
	{% csrf_token %}
	<div class="score" id="score">0</div>
	
		<canvas id="canvas" height="580px" width="581px" style="margin-top:115px;"></canvas>
	</div>
<script type="application/javascript" src="{% static 'app_games/snake/js.js'%}"></script>
{% endblock %}

