{% extends "app_games/plantillaSnake.html" %}
{% load static %}
{% block content %}


<script src="{% static 'app_games/snake/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'app_games/snake/js.cookie.min.js' %}"></script>

<title>Snake</title>

<link rel="stylesheet" href="{% static 'app_games/snake/css.css' %}">
	{% csrf_token %}	
		<canvas id="canvas" height="641px" width="641px" style="margin-top:4.5%;"></canvas>
	</div>
<script type="application/javascript" src="{% static 'app_games/snake/js.js'%}"></script>
{% endblock %}

