
{% load static %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS TETRIS-->
<link rel="stylesheet" href="{% static 'app_games/games/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'app_games/games/css/awesomplete.base.css' %}">
<link rel="stylesheet" href="{% static 'app_games/games/css/awesomplete.theme.css' %}">
<link rel="stylesheet" href="{% static 'app_games/games/css/all.min.css' %}">
<link rel="icon" type="image/png" href="{% static 'app_index/assets/img/tetris.png'%}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>

<body>
    <div style="position: absolute; left: 50%; transform: translateX(-50%);margin-top:4%">
        <h2 id="puntaje" style="margin-left:8px;">Presiona <kbd>P</kbd> o pulsa el botón para comenzar</h2>         
        <canvas id="canvas"></canvas>
    </div>
</body>

<!-- JS TETRIS -->
<script type="application/javascript" src="{% static 'app_games/games/js/sweetalert2.min.js'%}"></script>
<script type="application/javascript" src="{% static 'app_games/games/js/tetris.js'%}"></script>
<script type="application/javascript" src="{% static 'app_games/games/js/script.js'%}"></script>

{% endblock content %}