{% extends "app_index/base.html" %}

{% load static %}

{% block contenido_no_heredado %}

<!DOCTYPE html>
<html class="height-full">
  <head>
    <meta charset="utf-8">
    <title>User Profile</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app_index/assets/favicon.ico' %}" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'app_index/css/styles.css' %}" rel="stylesheet" />
    <!-- Css linked -->
    <link rel="stylesheet" href="{% static 'app_index/css/style-signup/signup1.css' %}" />
    <link rel="stylesheet" href="{% static 'app_index/css/style-signup/signup2.css' %}" />
    <link rel="stylesheet" href="{% static 'app_index/css/style-signup/signup3.css' %}" />
    
    <!-- Java Script -->
    <script type="application/javascript" src="{% static 'app_index/js/scripts-signup/script1.js' %}"></script>
    <script type="application/javascript" src="{% static 'app_index/js/scripts-signup/script2.js' %}"></script>
    <script type="application/javascript" src="{% static 'app_index/js/scripts-signup/script3.js' %}"></script>
    <script type="application/javascript" src="{% static 'app_index/js/scripts-signup/script4.js' %}"></script>
    <script type="application/javascript" src="{% static 'app_index/js/scripts-signup/script5.js' %}"></script>
    <script type="application/javascript" src="{% static 'app_index/js/scripts-signup/script6.js' %}"></script>
    <script type="application/javascript" src="{% static 'app_index/js/scripts-signup/script7.js' %}"></script>
    <script type="application/javascript" src="{% static 'app_index/js/scripts-signup/script8.js' %}"></script>
  </head>


<body class="logged-out env-production page-responsive height-full d-flex flex-column header-overlay" style="word-wrap: break-word; color: white; font-family: sans-serif;">
  <div class="logged-out env-production page-responsive height-full d-flex flex-column header-overlay" style="word-wrap: break-word;">    
     
  <div class= "application-main d-flex flex-auto flex-column">
      
  <main class="js-warp-hide bg-gray-dark-mktg d-flex flex-auto flex-column overflow-hidden position-relative">
   
    <div class="d-flex flex-auto flex-justify-center pt-12">
      
<div class="js-continue-container width-full z-1 signup-text-suggester">
  <div class="m-4 p-4 f4 color-shadow-small bg-gray-800-mktg rounded-2 signup-content-container">

    {% if mensaje %}
      <section style="font-size: 95%; margin-bottom:3%; background-color: rgba(4,13,33,1); color: #627597;; text-align: center;">
        <span style="font-weight: bold; font-size: 105%;"> {{mensaje}} </span>
      </section>
    {% endif %}
  
    <h1 class="sr-only">{{form.username}}</h1> 
    <typing-effect 
    data-lines='["{{user.username}}"]'
    class="js-signup-typed-welcome" style="font-size: 65%;">
    <span data-target="typing-effect.content" style="font-family: arcadeFont;color:rgba(249, 138, 249, 0.8); margin-right: 45%;" class="text-mono"></span>
    <span data-target="typing-effect.cursor" class="typing-effect-cursor">|</span>
    </typing-effect>
    
    
    <!-- Buttons -->
    <a style="color: transparent;" class="btn btn-success-data rounded m-2 p-2" href="{% url 'account' %}">LOGIOUTT</a>
    <a style="color: transparent;" class="btn btn-success-logout rounded m-2 p-2" href="{% url 'logout' %}">LOGIOUTT</a>
      
    <!-- Formulario -->
    <form class="position-relative js-octocaptcha-parent" method="post">
      <div class="js-continue-step-container signup-continue-step-container mt-4">
        
        {% csrf_token %}

        <!-- Avatar IMAGES-->
        
        <img src="{% static 'app_index/avatares/pacman.png' %}" width="50px" class="rounded-circle"> </a>
        <img src="{% static 'app_index/avatares/ghost.png' %}" width="50px" class="rounded-circle"> </a>
        
        <!-- Avatar choise -->
        <div class="js-continue-step-container signup-continue-step-container">
          <div class="mt-4">
            <label for="login" class="labels-signup">
              Avatar
            </label>
          </div>
          <div class="d-flex flex-items-center flex-column flex-sm-row">
            <div class="d-flex flex-items-center width-full">
              {{form.avatar}}
            </div>
          </div>
        </div>
        
        <br>
        <!-- Label -->
        <div>
          <label for="email" class="labels-signup">
            Bio
          </label>
        </div>
        
        <!-- Input -->
        <div class="d-flex flex-items-center flex-column flex-sm-row">
          <div class="d-flex flex-items-center width-full">
            {{form.bio}}
          </div>
        </div>


        <!-- Username inputs -->
        <div class="js-continue-step-container signup-continue-step-container">
          <div class="mt-4">
            <label for="login" class="labels-signup">
              Website
            </label>
          </div>
          <div class="d-flex flex-items-center flex-column flex-sm-row">
            <div class="d-flex flex-items-center width-full">
              {{form.website}}
            </div>
          </div>
        </div>
        
        <br>
        <br>
        <input type="submit" value="SAVE" class="signup-submit-button width-full py-2 js-octocaptcha-form-submit" />
      
      </div> 
    </form>  
</div>
  
</div>
    </div>
  </main>
  </div>

  </div>
</body>
</html>

{% endblock contenido_no_heredado %}   