{% extends "app_index/base.html" %}

{% load static %}

{% block contenido_no_heredado %}   
<title>Update User</title>

<br>
<br>
<br>
<br>
<br>
<a style="color: transparent;" class="btn-logout btn-success-logout rounded m-2 p-2" href="{% url 'logout' %}">LOGOU</a>
<button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
<button type="button" class="btn-close btn-close-white" disabled aria-label="Close"></button>

<div class="title">Update user credentials</div>

    {% if mensaje %}
        <div class = "mensaje">
            {{mensaje}}
        </div>
    {% endif %}

<div>
    <div >
        <form method="POST">
            <div>Modifique su perfil</div>
            <div>
                <p>Datos de {{ object.username }}</p>
                
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <input type="submit"  value="Actualizar">
        </form>
    </div>

</div>


    
<br><br>

{% endblock contenido_no_heredado %}   